 body { 
  
background:url('http://i.imgur.com/e5MX2Cw.jpg')no-repeat;
background-size:100%;
display:block;
padding:0 !important;
margin:0;
  
} 

#navbar { property: inline; 

}

.text { 
  background-color: white; 
  padding: 100px; 
  color: black;
  font-size: 1.5em; 
  width: 30%
  

}