#teamlink {
	text-align: center;
	background-color: #f3796c;
	color: white;
	border-color: #f3796c;
	border-radius: 5px 5px 0 0;
	transition: 0.3s;
}

#teamlink p{
	margin-bottom: 0;
	font-size: 2.2em;
}

#teamlink img {
	position: relative;
	top: 8px;
	left: 5px;
}

#teamlink:hover {
	background-color: white;
	color: #f3796c;
	transition: 0.3s;
	opacity: 1;
}

#teambutton:hover {
	opacity: 1;
}

#scrollbutton {
	padding-top: 30px;
}

#textbox {
	background-color: #237DAE;
	color: white;
	border-radius: 25px;
	padding: 15px;
	margin-bottom: 25px;
}

/* Added by Toni April 10, 2017
to adjust padding / letter-spacing
of the bubble box across the website */ 

#textbox p { 
	padding: 10px;
	letter-spacing: 1px;

}

body {
	background-image: url(colourbuildings.jpg);
	background-repeat: no-repeat;
	background-size: 100% 83%;
	background-position: top;
	margin: 0;
	padding: 0;
	border: 0;
}