main img {
	margin-top: 30px;
}

#teamlink {
	position: relative;
	left: 180px;
}

#scrollbutton {
	margin-top: 30px;
}

#textbox {
	background-color: #237DAE;
	color: white;
	border-radius: 25px;
	padding: 15px;
	margin-bottom: 25px;
}

#content2 {
	background-color: rgba(255, 255, 255, 0.98);
	margin-top: 12%;
	width: 100%;
	overflow: hidden;
}

#teamlink {
	background-color: #237DAE;
	display: block;
	padding: 0.2% 5%;
	text-align: center;
	white-space: nowrap;
	color: white;
	height: 8%;
	width: 10%;
}

#teampicture {
	display: block;
	float: left;
	margin: 1% 0 1% 1%;
	width: 50%;
}

#text2 {
	display: block;
	height: 100%;
	width: 44%;
	float: right;
	font-size: 1.1em;
	margin-left: 2%;
	margin-right: 2%;
}

body {
	background-image: url(colourbuildings.jpg);
	background-repeat: no-repeat;
	background-size: 100% 83%;
	background-position: top;
	margin: 0;
	padding: 0;
	border: 0;
}