main img {
	padding-top: 30px;
}

#teamlink {
	position: relative;
	left: 180px;
}

#scrollbutton {
	padding-top: 30px;
}

#textbox {
	background-color: #237DAE;
	color: white;
	border-radius: 25px;
	padding: 15px;
	margin-bottom: 25px;
}

body {
	background-image: url(colourbuildings.jpg);
	background-repeat: no-repeat;
	background-size: 100% 83%;
	background-position: top;
	margin: 0;
	padding: 0;
	border: 0;
}