/* GROUP26 CSS STYLESHEET FOR WEBDEV 1536 */

/* Importing Google Fonts */
html { 
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

header {
	height: 95px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #237DAE;
	opacity: 0.95;
	z-index:10;
	transition-duration: 0.4s;
}
/* Transition Effect */
header:hover {
	height:130px;
	width:100%;
	background-color: white;
	transition-duration: 0.4s;
}

header:hover .dropbtn {
	background-color: transparent;
	transition-duration: 0.4s;
	color: black;
}

header .dropbtn {
	transition-duration: 0.4s;
}

header:hover nav {
	top: 40%;
	transition-duration: 0.4s;
}

header:hover #banner img {
	display: inline-block;
	height: 120px;
	width: 120px;
	top: 5%;
	transition: 0.4s;
}

header:hover #banner h1 {
	display: inline-block;
	font-size: 2em;
	margin-left: 3%;
	margin-top: 3%;
	transition-duration:0.4s;
}
/* End of transition Effect */

header a {
	color: black;
}


#banner {
	white-space: nowrap;
	padding: 0.65%;
	position: fixed;
	height: 13%;
	width: 100%;
}

#banner img { 
	float:left;
	padding: 0;
	margin: 0;
	height: 85px;
	width: 85px;
	position: relative;
	left: -2%;
	top: 0;
	transition-duration: 0.4s;
}

/* Thin Name Text, limited to 200,300,400,800 via import. shifted name left and enlarged */
#banner h1 {
	font-weight: 300;
	font-size: 1.5em;
	margin-top: 1.7%;
	position: absolute;
	left: 65px;
	transition-duration: 0.4s;
}

/* Changed to 70% width from 1000px */
.headerbox { 
	height: 100%;
	width: 70%;
	min-width: 48em;
	padding-left: 2em;
	margin-left: auto;
	margin-right: auto;
}

/* animated header transitions */
.ha-header-color {
	height: 420px;
}

.ha-header-color .ha-header-front,
.ha-header-color .ha-header-bottom {
	background: #f3796c;
}

.ha-header-color h1,
.ha-header-color nav a {
	color: #fff;
}

a:hover {
	opacity: 0.6;
}

a {	
	text-decoration: none;	
}

nav {
	position: relative;
	left: 53%;
	top: 25%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	/* Transition for moving effect */
	transition-duration: 0.4s; 
}

nav a {
	padding: 5%; 
}

/* To negate navbar underlines from becoming transparent */
nav a:hover {
	opacity: 1;
}

/* Underline effect on navbar */
nav a:before {
	 content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #E55B58;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* CSS for drop down menus in the navigation */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 20px;
    font-size: 0.8em;
    border: none;
    cursor: pointer;
}

nav .dropdown a {
	font-size: 1.2em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-size: 0.8em;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	/* Underline effect */
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #707070;
	text-decoration: none;
}
/* end dropdown css */

/* Resized background image to work with animated background and true to original */
/* Remove once backgrounds imgs are put in page specific CSS */
body {
	background-image: url(backgroundimg.jpg);
	background-repeat: no-repeat;
	background-size: 150% 100%;
	background-position: bottom;
	margin: 0;
	padding: 0;
	border: 0;
}

main { 	
	padding-top: 130px;
	padding-left: 25px;
	padding-right: 25px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#scrollbutton {
	display: block;
	text-align: center;
}

#scrollbutton img {
	width: 40px;
	height: 20px;
	margin: 0;
	padding-top: 12px;
	padding-bottom: 10px;
}

footer {
	bottom: 0;
	height: 30%;
	width: 100%;
	background-color: #0e3c4b;
	color: #c3ccd1;
	white-space: nowrap;
}

footer ul {
	list-style: none;
	display: block;
	float: left;
}

.footerclmns {
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

footer a { 
	color: #9ed1ec;
}

/* adjusted font size of liheading */
.liheading {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 5px;
}

#footerclmn1 {
	padding-left: 40%;
}

#footerclmn2 {
	position: relative;
	margin-left: 10px;
}

#copyright { 
	display: block;
	text-align: center; 
	position: relative;
	bottom: 50%;
	left: 35%;
	clear: left;
	width: 50%;
	padding-top: 30px;
}
#copyright li{ 
	display: inline;
	margin-left: auto;
	margin-right: auto;			
}

#validator {
	display: block;
	padding: 2px;
	clear: both;
}

/* Project Page CSS Starts Here 
Please edit with care and caution
Coded by Toni, if problem arises 
please contact Toni. */

.formtable { 
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
}

.formtd1 { 
	width: 300px;
	height: 300px;
}

.formtd2 { 
	width: 300px;
	height: 300px;
}

.formtd3 { 
	width: 300px;
	height: 300px;
}

.formtd4 { 
	width: 300px;
	height: 300px;
}

/* Gray Scale of Project Colors & Hover */

.hovergray figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hovergray figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* SOCIAL MEDIA BUTTON CSS BELOW
EDIT WITH CAUTION */
/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.findsocial { 
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
 .fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Instagram */
.fa-instagram {
    background: #e95950;
    color: white;
}

/* Youtube */
.fa-youtube {
    background: #bb0000;
    color: white;
}

/* Reddit */
.fa-reddit {
    background: #FF5700;
    color: white;
}

/* Linkedin */
.fa-linkedin { 
	background: #007bb5;
	color: white;
}

/* THIS IS THE END OF THE CSS.*/ 
