.findsocial {
	background-color: #237DAE;
	border: solid;
	border-radius: 25px;
	color: white;
	margin-top: 10px;
	padding: 5px 0 17px 37px;
	text-shadow:2px 2px #000000;
}

#contactimage {
	float: right;
	margin-right: 52px;
	height: 300px;
	width: 320px;
}

.findsocial a {
	border: solid 2px white;
	margin: 1px;
}

input {
	margin-top: 1em;
}

span {
	font-size: 75%;
}

/*#form input{
	margin: 1em;
} */