#homecontentbg {
	background-color: rgba(255,255,255,0.7);
	z-index: -5;
	margin-bottom: 50px;
}

#homepagecontent {
	overflow: hidden;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 0;
	z-index:10;
}

#pagetext {
	background-color: #237DAE;
	padding: 10px;
	color: white;
	font-size: 1.2em;
	text-shadow:2px 2px #000000;
	border-radius: 25px;
	float: left;
	width: 55%;

}		

.previewprojects {
	float: right;
	width: 35%;
}
	
#vimeo_player {
	width: 80%;
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 75px;
}

/* Animated Header Backgrounds */
#large-header {
	background-image: url('animatedBackground.jpg');
	padding-top: 5%;
}

#demo-canvas {
	width: 100%;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	text-transform: uppercase;
	font-size: 3.2em;
	letter-spacing: 0.1em;
}

/* Resized background image to work with animated background and true to original */
body {
	background-image: url(scienceworld3.jpg);
	background-repeat: no-repeat;
	background-size: 150% 69%;
	background-position: bottom;
	margin: 0;
	padding: 0;
	border: 0;
}

body p {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}