#messagebox {
	background-color: #237DAE;
	color: white;
	font-size: 16;
	text-shadow:2px 2px #000000;
	border-radius: 25px;
	width: 90%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
}

#newmessage {
	padding-left: 7%;
}