main {
	background-color: #A1B0B7;
}
#sampleimg1 {
	float: left;
	height: 250px;
	width: 250px;
}
#sampleimg2 {
	float: right;
	height: 300px;
	width:400px;
}
#projectsreturn {
	float: right;
	margin-top: 5px;
}