body {
	background-image: url(winterforest.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom;
	margin: 0;
	padding: 0;
	border: 0;
}

#textbox {
	background-color: #237DAE;
	color: white;
	border-radius: 25px;
	padding: 15px;
	margin-bottom: 25px;
}

table a:hover {
    opacity: 1;
}

/* Project Page CSS Starts Here 
Please edit with care and caution
Coded by Toni, if problem arises 
please contact Toni. */

.formtable { 
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
}

.formtd1 { 
	width: 300px;
	height: 300px;
}

.formtd2 { 
	width: 300px;
	height: 300px;
}

.formtd3 { 
	width: 300px;
	height: 300px;
}

.formtd4 { 
	width: 300px;
	height: 300px;
}

/* Gray Scale of Project Colors & Hover */
.hovergray figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hovergray figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
