#map {
	background-color: white;
	opacity: 0.96;
	padding: 50px;
}

main {
    margin-bottom: 50px;
}

main ul li a {
	color: #0e3c4b;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
}

.parallax {
	    /* The image used */
    background-image: url(backgroundimg.jpg);

    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#break {
    position: relative;
    height: 50px;
    width: 100%;
}

/* For centering the pagetop button within a parallax */
#scrollbutton {
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}