#teamProfiles  {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 25px;
	background-color: #A1B0B7;
	border-radius: 25px;
}

#textbox {
	background-color: #237DAE;
	color: white;
	border-radius: 25px;
	padding: 15px;
	margin-bottom: 25px;
}

body {
	background-image: url(waterfront.jpg);
	background-repeat: no-repeat;
	background-size: 220% 160%;
	background-position: bottom;
	margin: 0;
	padding: 0;
	border: 0;
}

#ralypic:hover {
	content: url(rocketpic.png);
	width: 350px;
	height: 300px;
}

#carlopic:hover {
	content: url(rocketpic.png);
	width: 350px;
	height: 300px;
}

#tonipic:hover {
	content: url(rocketpic.png);
	width: 350px;
	height: 300px;
}

#kevinpic:hover {
	content: url(rocketpic.png);
	width: 350px;
	height: 300px;
}