body{
	margin: 0;
	padding: 0;
	border: 0;
}

main{
	padding: 105px;
}

.parallax {
	    /* The image used */
    background-image: url('../../style/backgroundimg.jpg');

    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#forum {
	margin-bottom: 30px;
}

#forumWrapper {
	background: #F6F9FB;
	border: solid #237DAE;
	border-radius: 25px;
	padding: 30px;
}

#forumWrapper p {
	text-align: center;
}

#forum  table {
	border: solid #237DAE;
	margin-top: 15px;
	margin-bottom: 30px;
}

#forumWrapper a {
	color: #237DAE;
}

#forumWrapper table {
	width: 600px;
}

#newtopicrow {
	height: 50px;
}

#newtopicrow a {
	padding: 10px;
	background: #F6F9FB;
	border: solid 2px #237DAE;
	border-radius: 25px;
	color: #237DAE;
	font-weight: bold;
	margin-right: 5px;
	
}

.backbutton {
	padding: 10px;
	background: #F6F9FB;
	border: solid 2px #237DAE;
	border-radius: 25px;
	color: #237DAE;
	font-weight: bold;
	float: left;
}

#buttondiv {
	margin-top: 15px;
}

.forumposts {
	height: 80px;
	max-width: 480px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	padding: 15px;
}

.forumposts a {
	color: #237DAE;
	font-weight: bold;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

.responseposts {
	height: 80px;
	padding: 15px;
	word-wrap: break-word;
	max-width: 400px;
}

.preview {
	font-size: 75%;
}

#break {
    position: relative;
    height: 50px;
    width: 100%;
}

#scrollbutton {
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}