body{
	margin: 0;
	padding: 0;
	border: 0;
}

#formWrapper {
	margin: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #F6F9FB;
	border: solid #237DAE;
	border-radius: 25px;
}

#formWrapper h2 {
	text-align: center;
}

#formWrapper p {
	text-align: center;
}

.parallax {
	    /* The image used */
    background-image: url('../../style/backgroundimg.jpg');

    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.err {
	color: #EE4F53;
}

.reminder {
	color: #EE4F53;
	font-size: 90%;
	padding-left: 10%;
	padding-right: 10%;
	visibility: hidden;
}

.backbutton {
	margin-left: 10%;
	color: #237DAE;
}

#break {
    position: relative;
    height: 50px;
    width: 100%;
}

#scrollbutton {
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

/* Default code, replaced by our own
body {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	margin: 0px;
	padding: 20px 10px 0px;
}
.textfield {
	font-size: 11px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
}
h1 {
	color: #99CC00;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #E6E8ED;
}
a {
	color: #2D3954;
	font-size: 11px;
}
a:hover {
	color: #99CC00;
}

th {
	font-weight: bold;
	text-align: left;
}
*/
