/*********************************** OLD COMMUNITY.CSS **************************************/

/********************************* END OF OLD COMMUNITY.CSS *************************************/

/**** Content Container ***/

body{
	/*background-image: url('../../style/backgroundimg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;*/
	margin: 0;
	padding: 0;
	border: 0;
}

.parallax {
	    /* The image used */
    background-image: url('../../style/backgroundimg.jpg');

    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
	height: 100%;
	width: 100%;
	margin-top:30px 0 30px 0;
}

#left {
	padding: 15px;
	float: left;
	width: 35%;
}

#left h2{
	font-weight: 400;
}

#centerpic {
	margin: 15px;
	float: left;
	width: 30%;
}

#communityimage {
	width: 442px;
	height: 400px;
}

#right {
	height: 100%;
	background-color: #237DAE;
	padding: 30px;
	width: 20%;
	margin: 15px;
	float: right;
}

#right .box {
	height: 100%;
}
#right h2{
	font-weight: 400;
	color: white;
}

#right a {
	color: white;
}

#postlinks {
	position: relative;
	overflow: auto;
}

span {
	color: #f3796c;
}

.parallax {
	/* The image used */
    background-image: url(../../style/falsecreek1.jpg);
	opacity: 0.5;

    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
	/* The image used */
    background-image: url(../../style/falsecreek1.jpg);
	opacity: 0.5;

    /* Set a specific height */
    min-height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.blackbg {
	background-color: black;
}

.text {
	width: 46%;
	margin: 15px;
	padding: 30px;
	margin-bottom: 0;
}

#communitytitle {
	margin: auto;
	position: absolute;
	width: 100%;
	top: 225px;
	z-index: 5;
}

#communitytitle h1 {
	position: relative;
	text-align: center;
	color: white;
	font-size: 7em;
	font-weight: 300;
	margin-bottom: 0;
}

#tagline p {
	position: relative;
	text-align: center;
	color: white;
	font-size: 1.5em;
	margin-top: 0;
	bottom: 20px;
}

#communitycontent {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#communitycontent img {
	float: right;
}