/**** Content Container ***/

#content {
	width: 100%;
	margin-top:30px;
}


/**** Content ***/

#left {
	width: 500px;
	height: 500px;
	float:left;
	display: block;
	display: inline;
	border: solid;
	border-radius: 25px;
	background-color: #237DAE;
	text-shadow: 1px 1px #000000;
	color: white;
	padding: 10px;
	margin-bottom: 100px;
	
}


/**** Sidebar ***/


#right {
	width: 150px; 
	float: right;
	display:block;
}

#right .box {
	width: 150px;
	background: #F6F9FB;
	border: solid #237DAE;
	border-radius: 25px;
	padding:15px;
	float: right;
}

#right .box h2 {
	font-size: 1.1em;
	margin: 0px 0 0px 0;
	padding:0px 0 5px 0;
}

#right .box a {
	margin: 10px 0 10px 0;
	color: #237DAE;
}

#right .box p {
	margin: 5px 0 10px 0;
	line-height: 15px;
}

#right .box ul {
	padding: 0 0 7px 20px;
	margin:10px 0 10px 0;
}

#right .box li {
	margin-top:5px;
}


/**** Clear Div ***/


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}